services:
  db:
    image: mysql:8.0
    container_name: aro-automocion-database
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: automocion
    ports:
      - "13306:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: