#btn-atras {
    background-color: #bd3a3f;
    color: white;
    width: 130px;
    border-radius: 10px;
    border-color: #bd3a3f;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 10px;
}

#btn-atras:hover {
    background-color: #c26f71 !important;
    color: #ffffff !important;
    border-radius: 10px;
    border-color: #c26f71 !important;
    transition: 0.3s;
}

#btn-registro {
    background-color: #bd3a3f;
    color: white;
    width: 130px;
    border-radius: 10px;
    border-color: #bd3a3f;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    margin-top: 20px;
}

#btn-registro:hover {
    background-color: #c26f71 !important;
    color: #ffffff !important;
    border-radius: 10px;
    border-color: #c26f71 !important;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #bd3a3f;
    box-shadow: 0 0 5px rgba(189, 58, 63, 0.5);
}

.form-control {
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 5px;
}

#txt-cnt {
    color: red;
    margin-top: 30px;
}

#cnt {
    border-color: #bd3a3f;
    background-color: white;
    border-bottom: 1px solid #bd3a3f;
    width: 90%;
    margin : 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}